* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-krc.krc.lexc -text
/apertium-krc.krc.rlx -text
/apertium-krc.krc.twol -text
/apertium-krc.pc.in -text
/apertium-krc.post-krc.dix -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/spellrelax.twol -text
/krc.prob -text svneol=unset#unset
/modes.xml -text
tests/dative.yaml -text
tests/harmony.yaml -text
tests/kün.yaml -text
tests/miscellaneous.yaml -text
tests/numerals.yaml -text
tests/run-twol-pairtests.sh -text
tests/yots.yaml -text
texts/krc-feats.tsv -text
texts/puupankki/puupankki.krc.conllu -text
texts/wikipedia-misc.vislcg.txt -text
texts/норег_тил.vislcg.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
